<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-form</title>
    <link rel="stylesheet" href="./css/form.css"/>
</head>
<body>
    <main>
        <h1 class="head">User Form</h1>
        <form class="form-control" action="/user" method="POST">
            <div class="">
                <label for="title">name of the user</label>
                <input class="form-control input-ele" type="text" name="userName" id="title">
            </div>
            <button class="btn" type="submit">Add User</button>
        </form>
    </main>
</body>
</html>

